@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/************************************* Utility Classes *************************************/
.container {
  padding: 0 10rem;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 100%;
}

.section-heading {
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  color: #203040;
  margin-bottom: 3rem;
}

/********************************* Header Starts Here ***************************/
header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/headerBG2.webp");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-content {
  height: calc(100vh - 8rem);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content .content-div {
  color: white;
  text-align: center;
  width: 50%;
}

.header-content .content-div h3 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.header-content .content-div h1 {
  font-size: 6rem;
  font-weight: 600;
  color: #ffa500;
}
.header-btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.header-btn-div .aboutBtn,
.header-btn-div .contactBtn {
  padding: 1rem 3rem;
  background-color: #ffa500;
  color: white;
  font-size: 1.8rem;
  font-weight: 400;
  border-radius: 0.5rem;
  border: 2px solid #ffa500;
  transition: all 0.3s ease-in-out;
}

.header-btn-div .contactBtn {
  border: 2px solid #ffa500;
  background-color: transparent;
}

.header-btn-div .contactBtn:hover {
  background-color: #ffa500;
}

.header-btn-div .aboutBtn:hover {
  background-color: transparent;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
  height: 8rem;
  background-color: #ffffff1f;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.navbarOnScroll {
  position: fixed;
  width: 100vw;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 10000;
}

.navbarOnScroll ul li a {
  color: black!important;
}

.navbar .logo {
  font-size: 2.5rem;
  width: 1rem;
  color: #ffa500;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar ul li {
  margin: 0 1rem;
}

.navbar ul li a {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: white;
  font-weight: 500;
}

.navbar ul li a:hover,
.active {
  background-color: #ffa500;
}

/**************************** Section 1 Starts Here ****************************/
#section-1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff8f9;
}

#section-1 .leftDiv,
#section-1 .rightDiv {
  width: 100%;
  height: 100%;
}

#section-1 .leftDiv img {
  width: 100%;
}

#section-1 .rightDiv h2 {
  font-size: 6rem;
  width: 100%;
  margin-bottom: 2rem;
  color: #203040;
}

#section-1 .rightDiv p {
  font-size: 1.8rem;
  text-align: justify;
  color: #666;
  font-weight: 500;
  margin-bottom: 2rem;
}

#section-1 .rightDiv .btn {
  padding: 1.5rem 2.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background-color: #ffa500;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}

#section-1 .rightDiv .btn a {
  color: black;
}

/**************************** Section 2 Starts Here ****************************/

#section-2 {
  height: 100vh;
  width: 100vw;
  background: url("../img/headerBG1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
}

#section-2::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #ff9800e6;
  opacity: 80%;
  z-index: -2;
}

#section-2 .leftDiv {
  width: 100%;
  text-align: center;
}
#section-2 .leftDiv img {
  width: 80%;
  /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); */
  filter: drop-shadow(5px 5px 5px #444);
}

#section-2 .rightDiv h2 {
  font-size: 6rem;
  color: white;
  margin-bottom: 3rem;
}

#section-2 .rightDiv p {
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
}

/**************************** Section 3 Starts Here ****************************/
#section-3 {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* background-color: #0fffff1f; */
  background-image: url('../img/pattern-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat  ;
}

#cardsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#cardsContainer .card {
  text-align: center;
  padding: 5rem 3rem;
  width: 25rem;
  background-color: #fff;
  display: flex;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1);
}

#cardsContainer .card .middleLine {
  width: 50%;
  height: 0.2rem;
  background-color: #b6fffc;
  margin-bottom: 2rem;
}
#cardsContainer .card img {
  background: linear-gradient(-45deg, #cfcf, #06f);
  border-radius: 50%;
  padding: 2rem;
  width: 10rem;
  margin-bottom: 2rem;
}

#cardsContainer .card img.card-img-2 {
  background: linear-gradient(-45deg, #ff0f47, #ff9797);
}

#cardsContainer .card img.card-img-3 {
  background: linear-gradient(-45deg, #b200e5, #b6fffc);
}

#cardsContainer .card h4 {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

#cardsContainer .card p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #666;
  line-height: 2.5rem;
}

/**************************** Section 4 Starts Here ****************************/
#section-4 {
  padding: 6rem 0;
  background-color: #fff8f9;
  
}

#section-4 .container div {
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 3rem;
}

#section-4 .container div .history-heading {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: #203040;
}

#section-4 .container div p {
  line-height: 3rem;
  font-size: 1.4rem;
  color: #666;
  font-weight: 500;
}

/**************************** Footer Starts Here ****************************/
footer {
  padding: 2rem;
  text-align: center;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.1);
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
}

